* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    to bottom right,
    rgb(252, 187, 0),
    rgb(249, 149, 0),
    rgb(251, 137, 0),
    rgb(182, 79, 58),
    rgb(155, 52, 122),
    rgb(165, 47, 153),
    rgb(134, 24, 210)
  );
  background-repeat: no-repeat;
}

.button-timer {
  display: flex;
  column-gap: 10px;
  margin-bottom: 10px;
}
#start-btn {
  background-color: black;
  color: rgb(252, 235, 212);
  width: 50px;
  border-radius: 5px;
  font-size: 1rem;
  border: none;
}
.game-over {
  display: flex;
  font-size: larger;
  color: white;
  flex-direction: column;
  text-align: center;
}
.game-ended {
  display: none;
}
.reload-btn {
  background-image: linear-gradient(
    to bottom right,
    rgb(252, 187, 0),
    rgb(182, 79, 58),
    rgb(165, 47, 153),
    rgb(134, 24, 210)
  );
}
.moves-timer {
  color: rgb(253, 251, 252);
  font-weight: bold;
}
.cards-container {
  width: 450px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-image: linear-gradient(
    to bottom right,
    rgb(134, 24, 210),
    rgb(165, 47, 153),
    rgb(155, 52, 122),
    rgb(182, 79, 58),
    rgb(251, 137, 0),
    rgb(249, 149, 0),
    rgb(252, 187, 0)
  );
  border-radius: 10px;
}
.img-card {
  display: flex;
  padding: 15px;
  justify-content: center;
  align-items: center;
  margin: 2%;
  column-gap: 10px;
  row-gap: 20px;
  width: 90px;
  height: 90px;
  border-radius: 10px;
  background-color: white;
  transform-style: preserve-3d;
  transition: transform 400ms;
}

img {
  width: 100%;
  height: 100%;
}

.img-back {
  backface-visibility: hidden;
}
.hide-cards {
  transform: rotate3d(-1, -1, 0, 180deg);
  background-color: black;
}
